.UseContext ol {
    margin: 10px 50px;
    padding: 5px;
    font-size: 1.2em;
}

.UseContext h2 {
    margin-top: 20px;
}

.UseContext h1, h2 {
    color: darkcyan;
}

.UseContext p {
    border: none;
}

.UseContext strong {
    color: red;
}

.UseContext button {
    width: 100px;
    padding: 10px 20px;
    margin: 10px 10px 0 0;
}