.Main {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #008b8b;
    margin-bottom: 10px;
}

.Main button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 10px;
    border: 1px solid darkcyan;
    outline: none;
    background-color: #008b8b30;
}

.Main input {
    border: 1px solid darkcyan;
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    width: 150px;
    height: 10px;
    outline: none;
}