body {
    /*background-image: linear-gradient(DarkSlateBlue, DarkOrchid, MediumVioletRed, OrangeRed, Orange); */
    font-family: Oswald;
    text-align: center;
}

#root{
    background-color: #fff;
    position: absolute;
    top: 0; right: 13%;
    width: 70%;
    min-height: 940px;
    padding: 2%;
}

h1, h2, h3 {
    font-weight: 400;
    margin: 0;
}