body {
    /*background-image: linear-gradient(DarkSlateBlue, DarkOrchid, MediumVioletRed, OrangeRed, Orange); */
    font-family: Oswald;
    text-align: center;
}

#root{
    position: absolute;
    top: 0;
    width: 90%;
    padding: 5%;
}

h1, h2, h3 {
    font-weight: 400;
    margin: 0;
}