.Card {
  background-color: lightgray;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 10%;
}

.Card strong {
  color: orangered;
}

.Card p {
  color: rgb(35, 58, 133)
}

.Card h1, h2, h3 {
  color: rgb(83, 83, 83);
}
